extends ../layout

block head
	- var title = "瀏覽競賽"
block content
	.hidden
		each x in data
			p= x
	.table-responsive: table.table.text-xs-center.table-striped
		col(width="10%")
		col(width="50%")
		col(width="15%")
		col(width="10%")
		thead.thead-inverse
			tr
				th.text-xs-center 截止日期
				th.text-xs-center 標題
				th.text-xs-center 預算
				th.text-xs-center 狀態
		tbody
			each x in data
				tr
					td= new Date(x.endDate).toDateString()
					td: a(href="/view/project/#{x._id}")= x.title
					td= "$" + x.budget
					- var status = x.status >= 0 ? `進行中(${x.status}人)` : '已結束'
					td= status
	script.
		$('#browse-project').addClass('active');