extends layout

block content
	.hidden
		p= user
	h3= `你好， ${user.username}，以下是您的個人資訊。`
	hr
	h5= `台幣帳號: ${user.account}`
	h5 近期活動:
	.table-responsive: table.table.text-xs-center.table-striped
		col(width="15%")
		col(width="70%")
		col(width="15%")
		thead.thead-inverse
			tr
				th.text-xs-center 日期
				th.text-xs-center 活動
				th.text-xs-center 帳戶
		tbody#activity
	script.
		$.ajax({url: '/activity', success: function(r) {
			console.log(r);
			for(var i = 0; i < r.length; ++i) {
				const balance = (r[i].balance >= 0 ? '+' : '') + r[i].balance;
				$('#activity').append(`<tr><td>${new Date(r[i].date).toDateString()}</td><td>${r[i].description}</td><td>${balance}</td></tr>`)
			}
		}});
