extends layout

block head
	| <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.4.0/styles/default.min.css">
	| <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.4.0/highlight.min.js"></script>

block content
	.col-xs-6
		.card.card-inverse.card-warning
			.card-block.bg-warning
				.rotate
					i.fa.fa-dollar.fa-5x
				h2.text-uppercase 轉出帳號
				h2.display-2#finv
		pre: code.lang-js#fin
	.col-xs-6
		.card.card-inverse.card-warning
			.card-block.bg-warning
				.rotate
					i.fa.fa-dollar.fa-5x
				h2.text-uppercase 轉入帳號
				h2.display-2#foutv
		pre: code.lang-js#fout
	script.
		$('pre code').each(function(i, block) { hljs.highlightBlock(block);} );
		$.ajax({url: '/balance_out', success: function(r) {
			console.log(r);
			$('#fin').text(JSON.stringify(r, null, 2));
			$('#finv').text('$' + r.balance);
			hljs.highlightBlock(document.getElementById("fin"));
		}});
		$.ajax({url: '/balance_in', success: function(r) {
			console.log(r);
			$('#fout').text(JSON.stringify(r, null, 2));
			$('#foutv').text('$' + r.balance);
			hljs.highlightBlock(document.getElementById("fout"));
		}});