extends layout

block content
	.text-xs-center
		h1 3952 外包網 - 新一代接案平台

	hr
	.row
		.col-lg-3.col-md-6
			.card.card-inverse.card-success
				.card-block.bg-success
					.rotate
						i.fa.fa-group.fa-5x
					h6.text-uppercase 目前使用者
					h2.display-2 3952
		.col-lg-3.col-md-6
			.card.card-inverse.card-danger
				.card-block.bg-danger
					.rotate
						i.fa.fa-rocket.fa-5x
					h6.text-uppercase 競賽數
					h2.display-2 533
		.col-lg-3.col-md-6
			.card.card-inverse.card-info
				.card-block.bg-info
					.rotate
						i.fa.fa-file.fa-5x
					h6.text-uppercase 專案數
					h2.display-2 129
		.col-lg-3.col-md-6
			.card.card-inverse.card-warning
				.card-block.bg-warning
					.rotate
						i.fa.fa-dollar.fa-5x
					h6.text-uppercase 本月成交
					h2.display-2 $36M
	hr
	.text-xs-center
		a.btn.btn-primary-outline.btn-lg(href='/signup') 註冊
