extends layout

block content
	h2.text-xs-center 登入
	form(action='/login', method='post')
		.form-group.row
			label.col-sm-2 帳號
			.col-sm-10: input.form-control(type='text', name='username')
		.form-group.row
			label.col-sm-2 密碼
			.col-sm-10: input.form-control(type='password', name='password')
		.text-xs-center
			button.btn.btn-primary(type='submit') 送出