extends layout

block content
	.hidden
		p= data
	h3= `你好，以下是${data.username}的公開資訊。`
	.row
		.col-lg-3.col-md-6
			.card.card-inverse.card-success
				.card-block.bg-success
					.rotate
						i.fa.fa-group.fa-5x
					h6.text-uppercase 競賽評分
					h1.display-1 3700
		.col-lg-3.col-md-6
			.card.card-inverse.card-danger
				.card-block.bg-danger
					.rotate
						i.fa.fa-rocket.fa-4x
					h6.text-uppercase 發案次數
					h1.display-1 22
		.col-lg-3.col-md-6
			.card.card-inverse.card-info
				.card-block.bg-info
					.rotate
						i.fa.fa-file.fa-5x
					h6.text-uppercase 接案次數
					h1.display-1 12
		.col-lg-3.col-md-6
			.card.card-inverse.card-warning
				.card-block.bg-warning
					.rotate
						i.fa.fa-dollar.fa-5x
					h6.text-uppercase 總收入
					h1.display-1 $22K
	h3 自我介紹
	p Hello, I'm a professional coding farmer.
	h3 作品集
	h4: a(href="http://ntusweety.herokuapp.com/") NTU Sweety Course - 台大成績分布查詢網站
	h4: a(href="/") 3952外包網 - 一個安全可靠的接案平台