extends layout

block content
	h2.text-xs-center 註冊帳號
	form(action='/signup', method='post')
		.form-group.row
			label.col-sm-2 帳號
			.col-sm-10: input.form-control(type='text', name='username')
		.form-group.row
			label.col-sm-2 密碼
			.col-sm-10: input.form-control(type='password', name='password')
		.form-group.row
			label.col-sm-2 密碼確認
			.col-sm-10: input.form-control(type='password', name='password_verify')
		.form-group.row
			label.col-sm-2 台幣帳號
			.col-sm-10: input.form-control(type='text', name='account')
		.text-xs-center
			button.btn.btn-primary(type='submit') 送出

