- var title = (title || "首頁") + " | 3952外包網 @ ESUN HACKTHON";
title=title


script(src="/vendor/js/jquery.min.js")

link(rel="stylesheet", href="/vendor/css/tether.min.css")
script(src="/vendor/js/tether.min.js")

link(rel="stylesheet", href="/vendor/css/bootstrap.min.css")
script(src="/vendor/js/bootstrap.min.js")


link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")

link(rel='stylesheet', href='/css/main.css')
