nav.navbar.navbar-fixed-top.navbar-dark.bg-primary
	button.navbar-toggler.hidden-md-up.pull-xs-right(type='button', data-toggle='collapse', data-target='#collapsingNavbar') ☰
	a.navbar-brand.page-scroll#brand(href='/')
		i.fa.fa-code
		| 3952外包網
	#collapsingNavbar.collapse.navbar-toggleable-sm
		ul.nav.navbar-nav
			li: a(href='/submit/contest')#submit-contest
				i.fa.fa-rocket
				| 發表競賽
			li: a(href='/submit/project')#submit-project
				i.i.fa.fa-file
				| 發表專案
			li: a(href='/browse/contest')#browse-contest
				i.fa.fa-rocket
				| 瀏覽競賽
			li: a(href='/browse/project')#browse-project
				i.i.fa.fa-file
				| 瀏覽專案
		ul.nav.navbar-nav.pull-xs-right
			- if(user)
				li: a.active(href='/account')= `你好， ${user.username}`
				li: a.active(href='/logout') 登出
			- else 
				li: a.active(href='/login') 登入
				li: a.active(href='/signup') 註冊帳號
