extends ../layout

block content
	h2.text-xs-center 舉辦一個競賽
	form(action='/submit/contest', method='post')
		.form-group.row
			label.col-sm-2 標題
			.col-sm-10: input.form-control(type='text', name='title')
		.form-group.row
			label.col-sm-2 截止日期
			.col-sm-10: input.form-control(type='date', name='endDate')#endDate
		.form-group.row
			label.col-sm-2 冠軍獎金
			.col-sm-10: input.form-control(type='number', name='firstPrize', min="1", value="1000")
		.form-group.row
			label.col-sm-2 亞軍獎金
			.col-sm-10: input.form-control(type='number', name='secondPrize', min="0", value="0")
		.form-group.row
			label.col-sm-2 季軍獎金
			.col-sm-10: input.form-control(type='number', name='thirdPrize', min="0", value="0")
		.form-group.row
			label.col-sm-2 評審
			.col-sm-10
				.radio: label
					input(type='radio', name='judge', value='host', checked)
					| 我要自己當評審
				.radio: label
					input(type='radio', name='judge', value='board')
					| 交給專業的評審團
		.form-group.row
			label.col-sm-2 敘述
			.col-sm-10: textarea.form-control(name='description')
		.text-xs-center
			button.btn.btn-primary(type='submit') 送出
	script.
		$('#endDate').val(new Date().toISOString().substring(0, 10));
		$('#submit-contest').addClass('active');
