extends ../layout

block content
	h2.text-xs-center 發佈一個專案
	form(action='/submit/project', method='post')
		.form-group.row
			label.col-sm-2 標題
			.col-sm-10: input.form-control(type='text', name='title')
		.form-group.row
			label.col-sm-2 截止日期
			.col-sm-10: input.form-control(type='date', name='endDate')#endDate
		.form-group.row
			label.col-sm-2 預算
			.col-sm-10: input.form-control(type='number', name='budget', min="1", value="1000")
		.form-group.row
			label.col-sm-2 敘述
			.col-sm-10: textarea.form-control(name='description')
		.text-xs-center
			button.btn.btn-primary(type='submit') 送出
	script.
		$('#endDate').val(new Date().toISOString().substring(0, 10));
		$('#submit-project').addClass('active');
