extends ../layout

block head
	- var title = "參賽者"
block content
	.hidden
		p= data.length
		p= data
	h4.text-xs-center 評分
	form(action=`/manage/contest/${id}`, method='post')
		.table-responsive: table.table.table-striped
			col(width="10%")
			col(width="80%")
			col(width="10%")
			thead.thead-inverse
				tr
					th.text-xs-center 參加者
					th.text-xs-center 內容
					th.text-xs-center 評分
			tbody
				each x in data
					tr
						td.text-xs-center= x.author
						td!= x.message
						td.text-xs-center
							input(type='number', name=`${x.author}`)
		.text-xs-center
			button.btn.btn-primary(type='submit') 送出