extends ../layout

block head
	- var title = "參賽"
block content
	.hidden
		p= data
	h2.text-xs-center 參賽
	form(action=`/reply/contest/${data._id}`, method='post')
		.form-group.row
			label.col-sm-2 我想說的話
			.col-sm-10: textarea.form-control(name='message')
		.text-xs-center
			button.btn.btn-primary(type='submit') 送出