extends ../layout

block head
	- var title = "提案"
block content
	.hidden
		p= data
	h2.text-xs-center 提案
	form(action=`/reply/project/${data.id}`, method='post')
		input(type='hidden', name='id', value=data._id)
		.form-group.row
			label.col-sm-2 我想說的話
			.col-sm-10: textarea.form-control(name='message')
		.text-xs-center
			button.btn.btn-primary(type='submit') 送出