extends ../layout

block head
	- var title = "專案詳細"
block content
	.hidden
		p= data
	.row
		.col-xs-3
			.card.card-inverse.card-success
				.card-block.bg-success
					.rotate
						i.fa.fa-rocket.fa-5x
					h4.card-title 競賽主題
					h4.card-text= data.title
		.col-xs-3
			.card.card-inverse.card-info
				.card-block.bg-info
					.rotate
						i.fa.fa-group.fa-5x
					h4.card-title 發案者
					h4.card-text: a(href=`/profile/${data.author}`)= data.author
		.col-xs-3
			.card.card-inverse.card-danger
				.card-block.bg-danger
					.rotate
						i.fa.fa-calendar.fa-5x
					h4.card-title 截止時間
					h4.card-text= new Date(data.endDate).toDateString()
		.col-xs-3
			.card.card-inverse.card-warning
				.card-block.bg-warning
					.rotate
						i.fa.fa-dollar.fa-5x
					h4.card-title 預算
					h4.card-text= '$' + data.budget
	button#translate 翻譯成西班牙文
	pre.container#description!= data.description
	hr
	.text-xs-center
		a.btn.btn-primary-outline.btn-lg(href=`/reply/project/${data._id}`) 我要提案
	- if(user && user.username == data.author)
		hr
		.text-xs-center
			a.btn.btn-danger.btn-lg(href=`/manage/project/${data._id}`) 管理
	script.
		$('#translate').click(function() {
			$.post('/translate', {text: $('#description').text()}, function(data, status) {
				console.log(JSON.stringify(data), status);
				if(!data.error_code) {
					var s = '(Powered by IBM Bluemix Watson)\n' + data.translations[0].translation;
					$('#description').text(s);
				}

			});
		});