@import url(http://fonts.googleapis.com/earlyaccess/cwtexhei.css);

* {
	margin: 0;
	font-family: 'cwTeXHei', sans-serif;
}

html, body {
	margin:0;
	padding:0;
	height:100%;
}
body {
	padding-top: 5rem;
}
.page-wrap {
	min-height: 100%;
	/* equal to footer height */
	margin-bottom: -90px; 
}
.page-wrap:after {
	content: "";
	display: block;
}
.site-footer, .page-wrap:after {
	height: 90px; 
}
.site-footer {
	padding-top: 10px;
}

#brand {
	color: white;
}

textarea {
	height: 300px;
}

.hidden {
	display: none;
}

label {
	text-align: center;
}

#description {
	border: 1px gray solid;
	padding: 2em
}

.card {
	overflow:hidden;
}

.card-block .rotate {
	z-index: 8;
	float: right;
	height: 100%;
}

.card-block .rotate i {
	color: rgba(20, 20, 20, 0.15);
	position: absolute;
	left: 0;
	left: auto;
	right: -10px;
	bottom: 0;
	display: block;
	-webkit-transform: rotate(-44deg);
	-moz-transform: rotate(-44deg);
	-o-transform: rotate(-44deg);
	-ms-transform: rotate(-44deg);
	transform: rotate(-44deg);
}
